.container
  display: flex
  background-color: #fff
  border-radius: 10px
  overflow: hidden
  border: 1px solid #DFE5EC

.tab
  padding: 15px
  text-transform: uppercase
  font-weight: 600
  font-size: 12px
  letter-spacing: 0.5px
  color: #4a4a4a
  border-right: 1px solid #DFE5EC
  flex: 1
  transition: background-color .2s
  cursor: pointer

  &:last-child
    border: none

  &:hover
    background-color: #84c6ff

.activeTab
  background-color: #2196F3
  color: #fff

  &:hover
    background-color: #2196F3