@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.App {
    text-align: center;
    background-color: #F3F7FA;
    font-family: 'Open Sans', sans-serif;
}

.mainBlock {
    display: flex;
    justify-content: space-between;
}

.ticketsBlock {
    margin-left: 20px;
    flex: 1
}
